---
import "@fontsource-variable/mulish";

import Layout from "@/layouts/index.astro";
import WhyChooseUs from "@components/why-choose-us.astro";
import Services from "@components/services.astro";
import Section from "@components/ui/section.astro";
import Header from "@components/header.astro";
import Footer from "@components/footer.astro";

import AboutUs from "@components/about-us.astro";
import Contact from "@components/contact.astro";
import Clients from "@components/clients.astro";
import Facts from "@components/facts.astro";
import ClientsLogos from "@components/clientes-logos";
---

<Layout>
    <Header />
    <main>
        <AboutUs />
        <Clients />
        <Facts />
        <Section className="!pb-0">
            <ClientsLogos client:only="react" />
        </Section>
        <WhyChooseUs />
        <Services />
        <Contact />
    </main>
    <Footer />
</Layout>

<style is:global>
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply text-slate-700;
        font-family: "Mulish Variable", sans-serif;
    }

    p {
        @apply leading-normal text-sm md:text-base;
    }
</style>
