---
import Section from "@components/ui/section.astro";
import Anchor from "@components/ui/anchor.astro";
import Title from "@components/ui/title.astro";
import Check from "@components/icons/check.astro";

import { introServicios, empresa } from "@assets/business-data.json";
---

<Section className="grid lg:grid-cols-2 gap-y-8 lg:gap-y-0" id="sobre-nosotros">
    <div class="grid grid-cols-2 gap-8 min-h-96">
        <img
            class="rounded-lg h-full object-cover mb-20"
            src="marcos/reunion-quienes-somos.avif"
            alt="reunion quienes somos"
            title="reunion quienes somos"
            loading="lazy"
        />
        <img
            class="rounded-lg h-full object-cover mt-20"
            src="marcos/agenda-quienes-somos.avif"
            alt="quienes somos agenda"
            title="quienes somos agenda"
            loading="lazy"
        />
    </div>
    <div class="pt-16 lg:pt-0 lg:pl-20 space-y-4 md:space-y-8">
        <header class="space-y-2">
            <span class="text-primary font-extrabold text-sm"
                >¿ Quienes Somos ?</span
            >
            <Title text={empresa} />
        </header>

        <div class="space-y-4">
            <p>
                ¡Bienvenidos! Somos un equipo con capacidades y habilidades,
                cada uno especialista en su área, dispuestos a cumplir y
                satisfacer sus necesidades como clientes.
            </p>
            <p>
                Ofrecemos servicios que en conjunto con nuestros clientes
                creamos <strong>soluciones personalizadas</strong> que les ayudan
                alcanzar sus objetivos, ya sea mejorar su presencia en línea, aumentar
                sus ventas ó crear un sitio web ó tienda virtual.
            </p>
            <p>Algunos de los servicios que ofrecemos son:</p>
        </div>

        <ul class="grid md:grid-cols-2 gap-x-6 gap-y-3 md:gap-y-4">
            {
                introServicios.map((item) => {
                    return (
                        <li class="flex gap-x-2 items-center">
                            <Check className="text-gray-800" />
                            <h5 class="text-sm md:text-base font-medium text-gray-800">
                                {item}
                            </h5>
                        </li>
                    );
                })
            }
        </ul>

        <div class="pt-4">
            <Anchor href="#contacto">Contáctanos</Anchor>
        </div>
    </div>
</Section>
