---
import Section from "./ui/section.astro";
---

<Section
    className="relative bg-gradient-to-l from-primary/90 to-primarydark rounded-xl z-0 !py-16 mx-6 lg:mx-auto"
>
    <div class="absolute z-10 inset-0 bg-black/5 rounded-xl size-full"></div>
    <picture class="absolute bottom-0 right-0 z-20">
        <source
            srcset="person-looking-left-500w.webp"
            media="(max-width: 600px)"
        />
        <img
            src="person-looking-left-500w.webp"
            alt="persona mirando hacia la izquierda"
            title="persona mirando hacia la izquierda"
            loading="lazy"
            class="h-40 md:h-72 lg:h-96"
        />
    </picture>
    <div
        class="lg:px-10 max-w-[50ch] text-white text-base md:text-xl lg:text-2xl font-normal relative z-10"
    >
        <blockquote class="pb-10">
            El <span class="font-extrabold">80%</span> de los usuarios de smartphones
            tienen m치s probabilidades de comprar cuando las empresas cuentan con
            sitios m칩viles 칩 aplicaciones que les ayudan a encontrar respuestas a
            sus preguntas f치cilmente.
        </blockquote>
        <a
            href="https://mktefa.ditrendia.es/blog/estadisticas-sobre-m%C3%B3viles"
            target="_blank"
            class="text-xs italic"
        >
            https://mktefa.ditrendia.es
        </a>
    </div>
</Section>
