<section class="bg-primary text-white">
    <div class="max-w-5xl mx-auto py-20">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod sapiente
        tempora rerum est perspiciatis excepturi facilis tempore architecto
        repudiandae deserunt sunt incidunt, veniam odit officia possimus
        aliquam! Aliquam, at nisi!
    </div>
</section>
