---
import ArrowUp from "@components/icons/arrow-up.astro";
---

<div
    class="fixed bottom-0 right-0 mb-4 mr-4 shadow-lg rounded-full grid place-content-center cursor-pointer transition-transform duration-300 ease-in-out hover:-translate-y-1"
    id="moveUp"
>
    <ArrowUp color="#ED7D3A" className="w-12 h-12" />
</div>

<script>
    document
        .querySelector("#moveUp")
        ?.addEventListener("click", () => window.scrollTo({ top: 0 }));
</script>
