---
import { twMerge } from "tailwind-merge";

interface Props {
    className?: string;
}
const { className } = Astro.props;
---

<button
    class={twMerge(
        "px-8 py-3 font-medium bg-gradient-to-r from-primary to-orange-500 text-white rounded-full shadow-lg shadow-primary/50 md:text-base text-sm",
        className,
    )}
>
    <slot />
</button>
